<address class="card">
  <div class="badge">
    <a [routerLink]="['/detail']">
      {{ addressModel.zipCode | departement }}
    </a>
  </div>
  <div>
    <span>{{ addressModel.streetNumber }}</span>
    <span>{{ getStreetName() }}</span>
  </div>
  <div>
    <span (click)="updateAddress()">{{ addressModel.zipCode }}</span>
    <span class="city">{{ addressModel.city | uppercase }}</span>
  </div>
  <button
    type="button" (click)="removeAddress()"
    [disabled]="buttonDisabledState"
  >X</button>
</address>
